<!-- include header -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <title>Crud application</title>
</head>

<body>
    <!-- Header -->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/add-user" class="nav-brand" text-dark>User management system</a>
                </div>
            </div>
        </nav>
    </header>
</body>

<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i> All Books</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New Book</h2>
            <span class="text-light">Use the below form to a book list</span>
        </div>

        <!-- form handling -->
        <%- include('./partials/_form.ejs') %>
        <!-- form handling end -->
    </div>
</main>
<!-- main site end -->

<!-- include footer -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/index.js"></script>
</body>

</html>
